[project]
name = "zyntercept"
description = "Zyntercept is a Zydis-based library that has the ability to hook functions onto x86 and x86_64 microprocessor architectures. With Zyntercept you can create security software and instrument Win32/Linux APIs with __fastcall, __stdcall and __cdecl calling conventions."
version = "1.0"
languages = ["C", "CXX"]

[options]
ZYNTERCEPT_BUILD_TESTS = true

[conditions]
tests = "ZYNTERCEPT_BUILD_TESTS AND CMKR_ROOT_PROJECT"

[fetch-content.Zydis]
git = "https://github.com/zyantific/zydis"
tag = "v4.0.0"

[fetch-content.Catch2]
condition = "tests"
git = "https://github.com/catchorg/Catch2"
tag = "v3.6.0"

[target.Zyntercept]
type = "library"
headers = ["Zyntercept/**.h"]
sources = [
    "Zyntercept/Zyntercept.cpp",
    "Zyntercept/Core/Allocator/**.cpp",
    "Zyntercept/Core/Assembler/**.cpp",
    "Zyntercept/Core/Common/**.cpp",
    "Zyntercept/Core/Detour/**.cpp",
    "Zyntercept/Core/Disassembler/**.cpp",
    "Zyntercept/Core/Trampoline/**.cpp"
]
link-libraries = ["Zydis"]
include-directories = ["."]
gcc.compile-options = ["-fpermissive"]

[target.Zyntercept.windows]
sources = ["Zyntercept/Core/Syscall/Windows/**.cpp"]

[target.Zyntercept.linux]
sources = ["Zyntercept/Core/Syscall/Unix/**.cpp"]

[target.Zyntercept_Tests]
condition = "tests"
type = "executable"
headers = ["Tests/**.h"]
sources = ["Tests/**.cpp"]
link-libraries = ["Zyntercept", "Catch2"]
include-directories = ["."]
gcc.compile-options = ["-fpermissive"]
